<center>
<b>restore password</b>
<table cellspacing=10px cellpadding=10px>
	<tr>
		<td>E-mail</td>
		<td><input name="email" id="email" value="" type="text" onkeydown="if (event.keyCode == 13) restore();"></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<img src="captcha.php" id="captcha_image"/><br>
			<a href="javascript:void(0);" onclick="document.getElementById('captcha_image').src = 'captcha.php?rid=' + Math.random();">Refresh Capcha</a>
			<br>
			
		</td>
	</tr>
	<tr>
		<td>Captcha</td>
		<td><input name="captcha" id="captcha" value="" type="text" onkeydown="if (event.keyCode == 13) restore();"></td>
	</tr>
	<tr>
		<td colspan=2>
			<center>
				<a class="btn btn-small btn-info" href="javascript:void(0);" onclick="restore();">restore password</a>
			</center>
		</td>
	</tr>
</table>
</center>
<font id="info_message"></font>
<font id="error_message" color='#ff0000'></font>
