<center>
<table cellspacing=10px cellpadding=10px>
	<tr>
		<td>E-mail</td>
		<td><input name="email" id="email" value="" type="text" onkeydown="if (event.keyCode == 13) sign_in();"></td>
	</tr>
	<tr>
		<td>Password</td>
		<td><input name="password" id="password" value="" type="password"  onkeydown="if (event.keyCode == 13) sign_in();"></td>
	</tr>
	<tr>
		<td colspan=2>
			<center>
				<a class="btn btn-small btn-info" href="javascript:void(0);" onclick="sign_in();">sign in</a>
			</center>
		</td>
	</tr>
</table>
</center>
<font id="error_message" color='#ff0000'></font>
